@media only screen and (min-width: 37.5em){
    
    h1#top-title{
        font-size: 2.2rem;
        max-width: 10em;
    }
    nav{
        font-size: 1.1rem;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    #date{
        grid-column: 1 / 4;
        grid-row: 1;
    }
    #action-call{
        grid-column: 1 / 4;
        grid-row: 2;
    }
    #most-visited{
        grid-column: 1 / 4;
        grid-row: 3;
    }
    #weather{
        grid-column: 1 / 2;
        grid-row: 4;
    }
    #humidity-wind-chill{
        margin-top: 2rem;
    }
    #forecast{
        grid-column: 2 / 4;
        grid-row: 4;
    }
    #most-temples{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #lower-footer{
        display: flex;
        justify-content: space-around;
    }
    /* temples page*/
}  