/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{background-color: #B2BABA;}

h1, h2, h3, h4, #date{
    font-family: 'Tiro Bangla', serif;
    letter-spacing: 0.06rem;
}

p, ul, #action-button{
    font-family: 'Edu NSW ACT Foundation', cursive;
    letter-spacing: 0.07rem;
}

header{
    padding: .50rem;
    background-color: #E6E4D5;
}

#logo-container{max-width: 100px;}

#logo-container img{
    width: 100%;
    border: 2px solid #163B67;
    border-radius: 4px;
}

#upper-header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

#upper-header h1{
    align-self: center;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    color: #163B67;
    max-width: 7em;
}

#social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{text-decoration: none;}

nav .open{display: block;}

nav ul li{
    list-style: none;
    text-align: center;
    padding: 0.75rem;
}

nav ul li a{
    display: block;
    color: #163B67;
}

.active{border-top: 2px solid #E6E4D5; text-decoration: underline;}

#button{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid #697E93;
    border-radius: 4px;
    background-color: #163B67;
    padding: .25rem;
}

#burguerBtn{
    font-size: 1.4rem;
    background: transparent;
    border: none;
    width: 100%;
}

#burguerBtn span:nth-child(1) {display: block;}
#burguerBtn span:nth-child(2) {display: none;}
#burguerBtn.open span:nth-child(1) {display: none;}
#burguerBtn.open span:nth-child(2) {display: block;}

main{
    margin: 1.75em; 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

#date{
    padding: 1.2rem;
    background-color: #E6E4D5;
}

main section{
    padding: 1rem;
    background-color: #E6E4D5;
}

#action-call, #most-visited, #weather, #forecast, #date{
    text-align: center;
    border: 2px solid #163B67;
}

#action-call h2{
    font-size: 2rem;
}

#img-desc{
    padding-bottom: 0;
}

#action-call p{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

#action-button{
    background-color: #163B67;
    color: #E6E4D5;
    padding: .75rem;
    border-radius: 9px;
}

#temple3{
    display: none;
}

#img-temp{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#icon{
    display: flex;
    align-items: center;
}

#img-temp p{font-size: 2.2rem;}

#desc{
    font-size: 1.5rem;
    border-bottom: 1px solid #163B67;
    line-height: 2.5rem;
    margin-bottom: 0;
}

#humidity-wind-chill{padding: 0;}

#w-humidity, #wind, #feels{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.day1, .day2, .day3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #163B67;
    padding: 0;
}

.day1 section, .day2 section, .day3 section{padding: 0;}
.day2, .day3{margin-top: 1rem;}

footer{
    background-color: #697E93;
    padding: 1rem;
    text-align: center;
    font-size: 1em;
}

#contact-info p a{
    color: #000;
}

#api-credit{
    padding: .75rem;
}

#api-credit a{
    color: #E6E4D5;
}

#lower-footer{
    border-top: 1px solid #163B67;
}